<!--using WebEscuelaRelaciones.Paginacion-->
@model IEnumerable<WebEscuelaRelaciones.Models.Curso>
<!--model ListaPaginacion<WebEscuelaRelaciones.Models.Curso>-->

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Crear Curso</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Creditos)
            </th>
            <th class="text-center">Acciones</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Creditos)
            </td>
            <td class="text-center">
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.CursoID">Editar</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.CursoID">Detalles</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CursoID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>


<p>
    <a class="btn btn-dark" asp-controller="Home" asp-action="Index">Volver</a>
</p>